@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-family: "Lato", Arial, sans-serif;
  text-align: center;
}

h2 {
  position: relative;
  padding: 20px 0;
  background-color: lightcoral;
  z-index: 2;
}

button.add_top,
button.remove_top {
  position: relative;
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #0f4cf3;
  border: 2px solid greenyellow;
  z-index: 0;
}

/* Form add task - Start */
.task_fields {
  /* display: none; */
  position: relative;
  top: -00px;
  margin: 0 0 20px 0;
  padding: 10px;
  background-color: #fff;
  z-index: 0;
}

select {
  margin-right: 10px;
  padding: 2px 3px;
}
input {
  padding: 2px 3px;
}

#exercise_time {
  width: 75px;
}

button.add_form {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: yellow;
  border: 2px solid greenyellow;
}

button.add_form:hover {
  color: white;
  background-color: black;
  transition: 0.7s;
}
/* Form add task - End */
