.form-container {
  margin: 20px auto;
  width: 1150px;
  height: 70px;
  /* background-color: yellowgreen; */
}

.task_fields {
  display: none;
  margin: 20px auto;
  padding: 20px 0;
  background-color: #090b0d;
  border: 2px solid #222;
}

@keyframes show-bar {
  0% {
    transform: scale(0);
    transform-origin: center;
  }
  100% {
    transform: scale(1);
    transform-origin: center;
  }
}

@keyframes hide-bar {
  0% {
    transform: scale(1);
    transform-origin: center;
  }
  100% {
    transform: scale(0);
    transform-origin: center;
  }
}

.show_task_bar {
  display: block;
  animation: show-bar 0.5s both;
  animation-direction: alternate;
}
.hide_task_bar {
  display: block;
  animation: hide-bar 0.5s both;
  animation-direction: alternate;
}

label {
  color: #fff;
  margin: 10px 5px;
}

select {
  font-size: 1rem;
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px 3px;
  border: 1px solid #ddd;
}

select option {
  margin: 15px;
  padding: 15px;
}

input {
  margin: 0 5px;
  padding: 5px;
  border: 1px solid #ddd;
}

#exercise_time {
  padding: 5px;
  width: 75px;
}

button.add_form {
  margin-left: 10px;
  padding: 7px 10px;
  color: #fff;
  cursor: pointer;
  background-color: #000;
  border: 1px solid #34d399;
}

button.add_form:hover {
  color: white;
  background-color: #e879f9;
  transition: 0.7s;
}
