.form-container {
  margin: 30px auto;
  max-width: 1050px;
  height: 70px;
}

.task_fields {
  display: none;
  margin: 0px auto;
  padding: 20px 0;
  background-color: #3c94ca;
  box-shadow: var(--shadow);
  border-radius: 0;
}

@keyframes show-bar {
  0% {
    opacity: 0;
    transform-origin: center;
  }
  100% {
    opacity: 1;
    transform-origin: center;
  }
}

@keyframes hide-bar {
  0% {
    opacity: 1;
    transform-origin: center;
  }
  100% {
    opacity: 0;
    transform-origin: center;
  }
}

.show_task_bar {
  display: block;
  animation: show-bar 1s both;
  animation-direction: alternate;
}
.hide_task_bar {
  display: block;
  animation: hide-bar 1s both;
  animation-direction: alternate;
}

label {
  color: #fff;
  margin: 10px 5px;
}

select {
  font-size: 0.9rem;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 0;
}

select option {
  padding: 10px;
}

input {
  margin: 0 5px;
  padding: 7px;
  border: 1px solid #ddd;
  border-radius: 0;
}

#exercise_time {
  padding: 5px;
  width: 75px;
}

button.add_form {
  margin-left: 10px;
  padding: 10px 10px;
  color: #fff;
  cursor: pointer;
  background-color: #970ff2;
  border: none;
  transition: 0.5s;
  border-radius: 0;
}

button.add_form:hover {
  color: #000;

  transition: 0.5s;
}
