.monnday,
.tuesday,
.wednesday,
.thursday,
.friday,
.saturday,
.sunday {
  font-weight: 700;
  background-color: var(--bgc-days);
  box-shadow: var(--shadow);
}

.monnday {
  grid-area: monnday;
}
.tuesday {
  grid-area: tuesday;
}
.wednesday {
  grid-area: wednesday;
}
.thursday {
  grid-area: thursday;
}
.friday {
  grid-area: friday;
}
.saturday {
  grid-area: saturday;
}
.sunday {
  grid-area: sunday;
}
