.layout {
  margin: 0 auto;
  padding-bottom: 40px;
  width: 1000px;
  height: auto;
  /* border: 1px solid blue; */

  display: grid;
  grid:
    "zero monnday tuesday wednesday thursday friday saturday sunday habit_sum" 50px
    "habit1 . . . . . . . habit1_sum" 100px
    "habit2 . . . . . . . habit2_sum" 100px
    "habit3 . . . . . . . habit3_sum" 100px
    "habit4 . . . . . . . habit4_sum" 100px
    "habit5 . . . . . . . habit5_sum" 100px
    "plannded_time . . . . . . . ." 30px
    "time_done . . . . . . . ." 30px
    / 160px 100px 100px 100px 100px 100px 100px 100px 50px;
  gap: 4px;
}

div {
  position: relative;
}

.empty {
  background-color: white;
}
.done_task_bgc {
  background-color: lightgreen;
}
.empty p {
  padding: 5px 7px;
  font-size: 0.7rem;
  font-weight: 400;
}
.empty div {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.monday_sum_time,
.tuesday_sum_time,
.wednesday_sum_time,
.thursday_sum_time,
.friday_sum_time,
.saturday_sum_time,
.sunday_sum_time,
.monday_real_time,
.tuesday_real_time,
.wednesday_real_time,
.thursday_real_time,
.friday_real_time,
.saturday_real_time,
.sunday_real_time {
  line-height: 230%;
  font-size: 0.8rem;
  background-color: aliceblue;
}

.zero {
  grid-area: zero;
  border: none;
}

.plannded_time {
  font-size: 0.8rem;
  grid-area: plannded_time;
  background-color: aliceblue;
}

.time_done {
  font-size: 0.8rem;
  grid-area: time_done;
  background-color: aliceblue;
}
