.container {
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;
}

.layout {
  display: grid;
  width: fit-content;
  min-width: 1230px;
  margin: 0 auto;
  padding: 0 50px 50px 0px;
  justify-content: center;
  height: auto;
  grid:
    "zero monnday tuesday wednesday thursday friday habit_sum" 50px
    "habit1 . . . . . habit1_sum" 200px
    "habit2 . . . . . habit2_sum" 200px
    "habit3 . . . . . habit3_sum" 200px
    "habit4 . . . . . habit4_sum" 200px
    "habit5 . . . . . habit5_sum" 200px
    "plannded_time . . . . . ." 40px
    "time_done . . . . . ." 40px
    / 180px 200px 200px 200px 200px 200px 50px;
  gap: 10px;
}

div {
  position: relative;
}

.empty {
  width: 200px;
  height: 200px;
  background-color: #fff;
  transition: 0.6s;
  box-shadow: var(--shadow);
}
.empty:hover {
  box-sizing: content-box;
  width: 100%;
  border: 1px solid #000;
  transform: scale(1.3);
  box-shadow: 1.6px 1.6px 0.2px rgba(0, 0, 0, 0.105), 3.4px 3.4px 0.6px rgba(0, 0, 0, 0.155), 5.8px 5.8px 1.5px rgba(0, 0, 0, 0.191),
    8.7px 8.7px 2.9px rgba(0, 0, 0, 0.222), 12.5px 12.5px 5.1px rgba(0, 0, 0, 0.25), 17.7px 17.7px 8.4px rgba(0, 0, 0, 0.278),
    25.1px 25.1px 13.5px rgba(0, 0, 0, 0.309), 36.5px 36.5px 22.2px rgba(0, 0, 0, 0.345), 56.3px 56.3px 39.3px rgba(0, 0, 0, 0.395),
    100px 100px 80px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.done_task_bgc {
  color: #fff;
  background-color: #f24607;
}
.empty p {
  padding: 3px 6px;
  font-size: 0.9rem;
  font-weight: 500;
}
.empty div {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center_text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}

.monday_sum_time,
.tuesday_sum_time,
.wednesday_sum_time,
.thursday_sum_time,
.friday_sum_time,
.monday_real_time,
.tuesday_real_time,
.wednesday_real_time,
.thursday_real_time,
.friday_real_time {
  width: 70px;
  line-height: 40px;
  margin: 0 auto;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #cbd5e1;
  box-shadow: var(--shadow);
}

.monday_real_time,
.tuesday_real_time,
.wednesday_real_time,
.thursday_real_time,
.friday_real_time {
  color: #fff;
  background-color: #3c94ca;
}

.zero {
  grid-area: zero;
  border: none;
}

.plannded_time,
.time_done {
  font-size: 0.9rem;
  grid-area: plannded_time time_done;
  background-color: aliceblue;
  box-shadow: var(--shadow);
}
