.habit1,
.habit2,
.habit3,
.habit4,
.habit5 {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--bgc-habit);
  box-shadow: var(--shadow);
}

.habit1 {
  grid-area: habit1;
}
.habit2 {
  grid-area: habit2;
}
.habit3 {
  grid-area: habit3;
}
.habit4 {
  grid-area: habit4;
}
.habit5 {
  grid-area: habit5;
}
