.habit1_sum,
.habit2_sum,
.habit3_sum,
.habit4_sum,
.habit5_sum {
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #cbd5e1;
  box-shadow: var(--shadow);
}

.habit1_sum {
  grid-area: habit1_sum;
}
.habit2_sum {
  grid-area: habit2_sum;
}
.habit3_sum {
  grid-area: habit3_sum;
}
.habit4_sum {
  grid-area: habit4_sum;
}
.habit5_sum {
  grid-area: habit5_sum;
}

.habit_sum {
  width: 50px;
  font-size: 0.8rem;
  grid-area: habit_sum;
  background-color: #fff;
  box-shadow: var(--shadow);
}
