@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
}

body {
  /* background-color: #dadada; */
  font-family: "Lato", Arial, sans-serif;
  text-align: center;

  background: rgb(239, 255, 1);
  background: -moz-linear-gradient(135deg, rgba(239, 255, 1, 1) 0%, rgba(25, 121, 9, 1) 50%, rgba(0, 212, 255, 1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(239, 255, 1, 1) 0%, rgba(25, 121, 9, 1) 50%, rgba(0, 212, 255, 1) 100%);
  background: linear-gradient(135deg, rgba(239, 255, 1, 1) 0%, rgba(25, 121, 9, 1) 50%, rgba(0, 212, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efff01",endColorstr="#00d4ff",GradientType=1);
}

h2 {
  position: relative;
  padding: 20px 0;
  background-color: lightcoral;
  z-index: 2;
}

hr {
  margin: 0 auto;
  width: 80%;
  color: black;
  border-style: dashed;
  opacity: 0.2;
}

button.add_top,
button.remove_top {
  position: relative;
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;

  background-color: #0f4cf3;
  border: 2px solid greenyellow;
  z-index: 0;
}

.btn_remove {
  background-image: url(/src/icon/remove.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  opacity: 0.7;
}

.btn_done {
  background-image: url(/src/icon/done.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  opacity: 0.7;
}

.btn_remove,
.btn_done {
  width: 20px;
  height: 20px;
  background-color: aliceblue;
  transition: 0.5s;
  border: 0px solid #ddd;
}
.btn_remove:hover {
  cursor: pointer;
  border: 1px solid red;
}
.btn_done:hover {
  cursor: pointer;
  border: 1px solid green;
}

/* Form add task - Start */
.task_fields {
  /* display: none; */
  position: relative;
  top: -00px;
  margin: 0 0 20px 0;
  padding: 10px;
  font-size: 0.8rem;
  background-color: white;
  z-index: 0;
}

label {
  margin: 10px 5px;
}

select {
  font-size: 0.7rem;
  margin-right: 10px;
  padding: 2px 3px;
  border: 1px solid #ddd;
}

select option {
  margin: 15px;
  padding: 15px;
}

input {
  padding: 2px 3px;
  border: 1px solid #ddd;
}

#exercise_time {
  width: 75px;
}

button.add_form {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;

  background-color: yellow;
  border: 2px solid greenyellow;
}

button.add_form:hover {
  color: white;
  background-color: black;
  transition: 0.7s;
}
/* Form add task - End */
