@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
  --bgc-habit: #34d399;
  --bgc-days: #fbbf24;
}

body {
  font-family: "Lato", Arial, sans-serif;
  text-align: center;
  /* background-color: #020408; */
  background-color: #151d2c;
}

h1 {
  margin-bottom: 20px;
  padding: 20px 0;
  color: #fff;
  background-color: #020408;
  z-index: 2;
}

img {
  width: 15px;
  margin-left: 10px;
}
img:hover {
  border: 1px solid red;
}

hr {
  margin: 0 auto;
  width: 80%;
  color: #000;
  border-style: dashed;
  opacity: 0.2;
}

button.add_top,
button.remove_top {
  position: relative;
  padding: 15px 20px;
  color: #fff;
  cursor: pointer;
  background-color: #000;
  border: 1px solid #34d399;
  z-index: 1;
}

.btn_remove {
  background-image: url(/src/icon/remove.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  opacity: 0.5;
}

.btn_done {
  background-image: url(/src/icon/done.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  opacity: 0.5;
}

.btn_remove,
.btn_done {
  margin-top: 10px;
  width: 25px;
  height: 25px;
  transition: 0.1s;
  border: 0px;
  border-radius: 15px;
}
.btn_remove:hover,
.btn_done:hover {
  cursor: pointer;
  border: 1px solid red;
  opacity: 1;
}

.btn_done:hover {
  border: 1px solid green;
}
