@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
  --bgc-habit: #34d399;
  --bgc-days: #fbbf24;
}

body {
  /* background-color: #dadada; */
  font-family: "Lato", Arial, sans-serif;
  text-align: center;
  background-color: #020408;
}

h2 {
  position: relative;
  padding: 20px 0;
  color: #fff;
  background-color: #151d2c;
  z-index: 2;
}

hr {
  margin: 0 auto;
  width: 80%;
  color: #000;
  border-style: dashed;
  opacity: 0.2;
}

button.add_top,
button.remove_top {
  position: relative;
  margin: 10px 5px;
  padding: 15px 20px;
  color: #fff;
  cursor: pointer;
  background-color: #000;
  border: 1px solid #34d399;
  z-index: 0;
}

.btn_remove {
  background-image: url(/src/icon/remove.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  opacity: 0.7;
}

.btn_done {
  background-image: url(/src/icon/done.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  opacity: 0.7;
}

.btn_remove,
.btn_done {
  width: 25px;
  height: 25px;
  background-color: aliceblue;
  transition: 0.3s;
  border: 0px solid #ddd;
}
.btn_remove:hover {
  cursor: pointer;
  border: 1px solid red;
}
.btn_done:hover {
  cursor: pointer;
  border: 1px solid green;
}
